accelerate==0.27.2
aiofiles==23.2.1
aiohttp==3.9.3
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a17a7759g2/croot/anyio_1706220182417/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
attrs==23.2.0
autofaiss==2.17.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bert-score==0.3.13
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bxpizxa3c/croot/bottleneck_1707864819812/work
bs4==0.0.2
build==1.0.3
cachetools==5.3.2
cbor==1.0.0
cbor2==5.6.2
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bzbkiv4h_/croot/certifi_1707229182618/work/certifi
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.2.0
cramjam==2.8.2
cryptography==42.0.3
cycler==0.12.1
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
datasets==2.18.0
Deprecated==1.2.14
dill==0.3.8
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_10ye1wu827/croot/distro_1701455019085/work
effdet==0.4.1
embedding-reader==1.7.0
emoji==2.10.1
environs==9.5.0
evaluate==0.4.1
faiss-cpu==1.8.0
fastapi==0.109.2
fastparquet==2024.2.0
ffmpy==0.3.2
filelock==3.13.1
filetype==1.2.0
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
google-auth==2.28.0
googleapis-common-protos==1.62.0
gpt4all==2.2.1.post1
gptcache==0.1.43
gradio==3.38.0
gradio_client==0.10.1
grpcio==1.60.0
h11 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_110bmw2coo/croot/h11_1706652289620/work
httpcore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_fcxiho9nv7/croot/httpcore_1706728465004/work
httptools==0.6.1
httpx @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_727e6zfsxn/croot/httpx_1706887102687/work
huggingface-hub==0.20.3
humanfriendly==10.0
idna @ file:///Users/cbousseau/work/recipes/ci_py311/idna_1677906072337/work
ijson==3.2.3
importlib-metadata==6.11.0
importlib-resources==6.1.1
indxr==0.1.5
iniconfig==2.0.0
inscriptis==2.4.0.1
iopath==0.1.10
ir-datasets==0.5.6
Jinja2==3.1.3
joblib==1.3.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
KrovetzStemmer==0.8
kubernetes==29.0.0
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.23
langchainhub==0.1.14
langdetect==1.0.9
langsmith==0.0.87
latex2mathml==3.77.0
layoutparser==0.3.4
linkify-it-py==2.0.3
litellm==0.1.583
llvmlite==0.42.0
lxml==5.1.0
lz4==4.3.3
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.8.3
mdit-py-plugins==0.3.3
mdtex2html==1.3.0
mdurl==0.1.2
minio==7.2.5
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
multipipe==0.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numba==0.59.0
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45yefq0kt6/croot/numexpr_1696515289183/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a51i_mbs7m/croot/numpy_and_numpy_base_1708638620867/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=3d90dd3382cff7becb2384f73058a8e72b81c697e8bb77f1c69a82caca5b0c57
oauthlib==3.2.2
omegaconf==2.3.0
oneliner-utils==0.1.2
onnx==1.15.0
onnxruntime==1.15.1
openai==1.13.3
opencv-python==4.9.0.80
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
optuna==3.5.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82r7p4atwy/croot/pandas_1702318000240/work/dist/pandas-2.1.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=63b9f12c34b6c55958dc1c6d032dafd28dc982c5e3a7b0f2802ba7920c95f437
pandas-stubs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_43knp56w_v/croot/pandas-stubs_1705008086221/work
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.10.4
pikepdf==8.13.0
pillow==10.2.0
pillow_heif==0.15.0
pluggy==1.4.0
portalocker==2.8.2
posthog==3.4.1
protobuf==4.25.3
psutil==5.9.8
pulsar-client==3.4.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyautocorpus==0.1.12
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.20.0
pydantic @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f5e9j7terp/croot/pydantic_1695798853988/work
pydantic_core==2.16.2
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.17.2
pyparsing==3.1.1
pypdf==4.0.2
pypdfium2==4.27.0
PyPika==0.48.9
pyproject_hooks==1.0.0
PyStemmer==2.0.1
pytesseract==0.3.10
pytest==8.0.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.1
python-iso639==2024.2.7
python-magic==0.4.27
python-multipart==0.0.9
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6btwyyj8a1/croot/pytz_1695131592184/work
PyYAML==6.0.1
ranx==0.3.19
rapidfuzz==3.6.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
retriv==0.2.3
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
sacrebleu==2.4.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1573pknjrg/croot/sniffio_1705431298885/work
soupsieve==2.5
SQLAlchemy==2.0.27
starlette==0.36.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
tevatron==0.1.0
threadpoolctl==3.3.0
tiktoken==0.4.0
timm==0.9.16
tokenizers==0.15.2
toolz==0.12.1
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tqdm==4.66.2
transformers==4.37.2
trec-car-tools==2.6
typer==0.9.0
types-pytz @ file:///Users/cbousseau/work/recipes/ci_py311/types-pytz_1677963479638/work
types-requests==2.31.0.20240125
typing-inspect==0.9.0
typing_extensions @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6ejdc7ufhc/croot/typing_extensions_1705599306111/work
tzdata==2024.1
uc-micro-py==1.0.3
ujson==5.9.0
Unidecode==1.3.8
unlzw3==0.2.2
unstructured==0.12.4
unstructured-client==0.18.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
urllib3==2.2.0
uvicorn==0.27.1
uvloop==0.19.0
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
watchfiles==0.21.0
websocket-client==1.7.0
websockets==11.0.3
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
zlib-state==0.1.6
