sentence-transformers==2.5.1
datasets==2.14.6
transformers==4.35.0
tokenizers==0.14.1
torch==2.1.0
langchain==0.1.12
peft==0.9.0
unstructured==0.12.6
chromadb==0.4.24
bitsandbytes==0.43.0
langchainhub==0.1.15
evaluate==0.4.1